body {
  background-color: #f7f2eb;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  margin: 10px 10px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 6px;
  border: none;
  background-color: rgb(251, 213, 167);
  font-size: 1.2em;
  border-radius: 10px;
}

button {
  display: block;
  margin: 10px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 6px;
  font-size: 1em;
  border: 2px solid orange;
  border-radius: 10px;
  transition: background-color .3s, color .3s;
}

button:hover {
  color: white;
  background-color: rgb(227, 173, 106);
}

img {
  width: 200px;
  border-style: outset;
  border-radius: 5px;
}